/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
#FFC99B - peach orange
#FFF8DB - cornsilk
#B8EDD3 - magic mint
*/

/* Global styles
-----------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin :0;
}
h1, h2 {
	font-family: 'Caveat Brush', cursive;
	font-weight: 400;
}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 40px;
	margin-top: 0;
}
h3 {
	margin: 0;
}
a {
	color: #FFC99B;
}
a:hover {
	text-decoration: none;
}
.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 60px 50px;
	overflow: auto;
}
.col-narrow {
	width: 35%;
	float: left;
	padding-right: 20px;
}
.col-wide {
	width:65%;
	float: left;
	padding-left: 40px;
}
.uppercase {
	text-transform: uppercase;
}
.btn {
	text-decoration: none;
	background: #333333;
	color: #FFC99B;
	padding: 10px;
	display: inline-block;
}
/* Header and footer styles
-----------------------*/
header, footer {
	background: #FFFFFF;
	color: #333333;
}
/*header*/
.profile-img {
	border-radius: 20%;
	margin-top: 60px;
}
header {
	padding-top: 30px;
	position: relative;
}

header h1, header h2 {
	color: #333333;
	margin: 0;
}
.download {
	position: absolute;
	bottom: 0;
	right: 0;
}


/*footer*/
footer {
	text-align: center;
	background:	linear-gradient(rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.2)),
				url(../image/head.jpg) no-repeat fixed;
    background-size: cover;
    color: white;
}
.contact-info a {
	display: inline-block;
}


/*Navigation*/
nav {
	text-align: center;
	background: #333333;
	position: fixed;
	top: 0;
	width: 100%;
}
nav a {
	display: inline-block;
	padding: 15px 75px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
}

/* Work Experience
-----------------------*/
.work {
	background: linear-gradient(rgba(0, 0, 0, 0.5),
                 rgba(0, 0, 0, 0.7)),
                 url(../image/toronto.jpg) no-repeat fixed;
    background-size: cover;
    color: #FFFFFF;
}

h3 ~ p {
	margin: 0;
}
.job-description {
	margin-bottom: 30px;
}
.job-description p:first-of-type {
	margin-top: 0;
}

/* Education
-----------------------*/
.education {
	background: white;
}
p + h3 {
	margin-top:30px;
}










