/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
#FFC99B - peach orange
#FFF8DB - cornsilk
#B8EDD3 - magic mint
*/

/* Global styles
-----------------------*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Open Sans', sans-serif;
	margin :0;
}
h1, h2 {
	font-family: 'Caveat Brush', cursive;
	font-weight: 400;
}
h1 {
	font-size: 80px;
}
h2 {
	font-size: 40px;
	margin-top: 0;
}
h3 {
	margin: 0;
}
a {
	color: #000000;
}
a:hover {
	text-decoration: none;
}
.content-wrap {
	max-width: 950px;
	margin: 0 auto;
	padding: 50px;
	overflow: auto;
}
.col-narrow {
	width: 35%;
	float: left;
	padding-right: 20px;
}
.col-wide {
	width:65%;
	float: left;
	padding-left: 40px;
}
.uppercase {
	text-transform: uppercase;
}

/* Header and footer styles
-----------------------*/
header, footer {
	background: #FFC99B;
	color: #333333;
}
/*header*/
.profile-img {
	border-radius: 50%;
}

header h1, header h2 {
	color: #333333;
	margin: 0;
}

/*footer*/
footer {
	text-align: center;
}
.contact-info a {
	display: inline-block;
}

/* Work Experience
-----------------------*/
.work {
	background: #EDF2F4;
}

h3 ~ p {
	margin: 0;
}
.job-description {
	margin-bottom: 30px;
}
.job-description p:first-of-type {
	margin-top: 0;
}

/* Education
-----------------------*/
.education {
	background: #FFA686;
}
p + h3 {
	margin-top:30px;
}










